@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color:white;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  
  margin: 0 auto;
  border-bottom: 1px solid navy;
  background-color:rgb(57, 4, 90);
  width:100%;
}
.navbar h1 {
  color: white
}
.navbar .links {
  

  margin-left:auto;
  padding:10px;
}
.navbar a {
  margin-left: 5px;
  text-decoration: none;
  padding: 20px;
}
.navbar a:hover {
  color:purple;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}
