@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities; 


/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  
  margin: 0 auto;
  border-bottom: 1px solid navy;
  background-color:rgb(57, 4, 90);
  width:100%;
}
.navbar h1 {
  color: white
}
.navbar .links {
  

  margin-left:auto;
  padding:10px;
}
.navbar a {
  margin-left: 5px;
  text-decoration: none;
  padding: 20px;
}
.navbar a:hover {
  color:purple;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}


:root {
	/* Primary color */
	--primary-color: #7100b3; /* Dark blue */
	--primary-color-light: #507fba; /* Lighter shade of blue */
	--primary-color-dark: rgb(0, 60, 130); /* Darker shade of blue */
	--primary-color-very-dark: rgb(0, 0, 136); /* Very dark blue */
	
	/* Secondary color */
	--secondary-color: #f50057; /* Example secondary color */
	--secondary-color-light: #f73378; /* Lighter shade */
	--secondary-color-dark: #ab003c; /* Darker shade */

	/* Text color */
	 
	--text-color-secondary: #000000; /* Black text color */
	--text-color-primary: #ffffff;


	/* Background colors */
	--background-color: #efefef; /* White background */
	--background-color-light: rgb(248, 249, 250); /* Light gray background */
	--background-color-dark: #343a40; /* Dark gray background */


	/* Other colors */
	--info-color: #17a2b8; /* Info color */
	--success-color: #28a745; /* Success color */
	--warning-color: #ffc107; /* Warning color */
	--danger-color: #dc3545; /* Danger color */

	/* Border color */
	--border-color: #dee2e6; /* Light gray border */
}
